.task {
  display: flex;
  align-items: center;
  width: 100%;
  height: 52px;
  padding: 8px 16px;

  border-radius: 12px;

  &.launched {
  }

  .icon,
  .name {
    margin: 0 8px 0 0;
  }

  .elapsed {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 0 auto;

    .current,
    .total,
    .last {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
    }

    .last {
      font-size: 12px;
      font-weight: 400;
    }
  }
}
