.dashboard {
  .header {
    .add-button {
      all: unset;
    }
  }

  h6 {
    margin: 0 0 8px 16px;
    font-size: 14px;
  }

  .targets {
    margin: 0 0 16px 0;
  }

  .tasks {
    margin: 0 0 16px 0;
  }
}
